[Unit]
Description=roboticscape
Requires=systemd-modules-load.service

[Service]
User=root
PIDFile=/var/run/roboticscape/roboticscape.pid
ExecStartPre=/usr/local/bin/rc_startup_routine
ExecStart=/etc/roboticscape/link_to_startup_program
ExecStop=/usr/local/bin/rc_kill

[Install]
WantedBy=multi-user.target
